<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiaomai.telemarket">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".DataApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_l"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service android:name=".service.DownloadInitDataService" />
        <service android:name=".service.PhoneCallStateService" />
        <service android:name=".service.UploadService" />

        <activity
            android:name=".module.account.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".module.account.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".module.cstmr.CusrometDetailsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".module.cstmr.fragment.info.CusrometInfoEditActivity"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <activity
            android:name=".module.home.setting.SettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <activity
            android:name=".module.home.setting.SettingEditActivity"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <activity
            android:name=".module.home.dial.DialingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <activity
            android:name=".module.cstmr.fragment.debto.DebtoActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name=".module.cstmr.fragment.car.CarActivity"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".module.cstmr.fragment.property.PropertyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".module.cstmr.fragment.insurance.InsuranceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".module.cstmr.fragment.company.CompanyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".module.cstmr.fragment.file.FileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".module.cstmr.fragment.follow.FollowActivity"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name="com.jinggan.library.media.picture.SelectPictureActivity"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <activity
            android:name="com.jinggan.library.media.picture.ShowPictureActivity"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <activity
            android:name=".module.order.OrderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <activity
            android:name=".module.function.callOut.CallOutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <activity
            android:name=".module.function.callTrend.CallTrendActivity"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <activity
            android:name=".module.cstmr.fragment.info.CusrometInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity android:name=".module.function.statusCount.StatusCountActivity"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity android:name=".module.function.statusQuery.StatusQueryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>

        <activity android:name=".module.function.produtQuery.ProdutQueryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>

        <!-- Bugly配置参数-->
        <meta-data
            android:name="BUGLY_APPID"
            android:value="05c5820e16" />
        <meta-data
            android:name="BUGLY_APP_VERSION"
            android:value="1.0" />
        <meta-data
            android:name="BUGLY_ENABLE_DEBUG"
            android:value="false" />

    </application>

</manifest>